/* index.module.css */
.content {
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 12px;
  margin-left: 8px;
}

.cardTitle {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #000000;
}

.tableTitle {
  font-weight: bold;
}

.mainTable {
  border: 1px solid #e6e6e6;
}

.emptyText {
  font-size: x-large;
}

.architectureImage {
  width: 80%;  
  height: auto;
  display: inline-block; 
}

.workTable {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 0.5;
  font-weight: bold;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.CardContent {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  display: flex;
  align-items: center;
}