/* index.module.css */
.content {
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 12px;
  margin-left: 8px;
}

.cardTitle {
  font-weight: bold;
  font-size: 40px;
}

.tableTitle {
  font-weight: bold;
}

.mainTable {
  border: 1px solid #e6e6e6;
}

.emptyText {
  font-size: x-large;
}