.pageHeader {
  margin-top: calc(0px - var(--shell-dark-content-paddingTop, 20px));
  margin-right: calc(0px - var(--shell-dark-content-paddingLeft, 20px));
  margin-bottom: 0;
  margin-left: calc(0px - var(--shell-dark-content-paddingLeft, 20px));
  padding: var(--shell-dark-content-paddingTop, 20px) var(--shell-dark-content-paddingLeft, 20px);
  background-color: var(--color-white, #e22323);
}

.title {
  width: 100%;
  display: block;
  color: #333;
  font-weight: bold;
  font-size: 66px;
  line-height: 1;
  text-align: center;
}

.description {
  display: block;
  color: var(--color-text1-3, #efe9e9);
  font-size: var(--font-size-body-2, 14px);
  line-height: 1.5;
}